<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="AlgaWorks" src="/images/logo-algaworks.png" />
                </a>
            </div>
        </div>
    </nav>

    <section layout:fragment="conteudo">
        <p>Conteúdo principal</p>
    </section>

<script src="/js/jquery-3.2.1.min.js"></script>
<script scr="/js/bootstrap.min.js"></script>
</body>

</html>